*{
    margin: 0;
    padding: 10px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    box-sizing: border-box;
}

body{
background-color: #17a2b8;
}

.app{
    background: #add8e6;
    width: 100%;
    max-width: 600px;
    margin: 100px auto 0;
    border-radius: 20px;
    padding: 3px;
    height: 400px;
}

.app h1{
    font-size: 25px;
    color: black;
    font-weight: 600;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: rgb(76, 71, 71);
    border-bottom: 1px solid rgb(76, 71, 71) ;
    padding-bottom: 10px;
}
.quiz{
    padding: 20px 0 ;
}
.quiz h2{
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    font-weight: 600;
}

.btn{
    background: white;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 500;
    width: 100%;
    border: 1px solid #222;
    padding: 10px 0;
    text-align: left;
    border-radius: 4px;
    cursor: pointer;
    transition: all o.3s;
}

.btn:hover:not([disabled]){
    background: blue;
    color: white;
}

.btn:disabled{
    cursor: no-drop;
}

#next-btn{
    background: gold;
    color: olive;
    font-weight: 500;
    width: 150px;
    border: 0;
    padding: 10px;
    margin: 20px auto 0;
    border-radius: 4px;
    cursor: pointer;
    display: none;

}
#next-btn:hover{
    background: cornflowerblue;
    color: white;
}

.correct{
    background: yellowgreen;
}
.incorrect{
    background: brown;

}
